.App {
  
  }

.goal-form{
  text-align: center;
  width: 60%;
  height: 200px;
  margin: auto;
  display: block;
  background-color:#daecec;
  border-radius: 15px;
  margin-top: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  }
.goals{
  width: 30rem;
  max-width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  padding-left: 0px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
@media (max-width: 420px) {
  .goal-form{
  width: 95%; 
  } 
}